.layout {
  width: 100%;
  height: 100%;
  position: fixed;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
  color: #69b00b;
}

p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.5;
  margin: 0 50px;
  text-align: center;
}
.history-columns {
  margin-bottom: 5px;
  margin-right: 5px;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

.history-image {
  flex: 0 1 100px;
  border: 5px solid black;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-container.columns {
  flex-direction: column;
}

.flex-container.rows {
  flex-direction: row;
}

.row,
.column {
  margin-bottom: 5px;
  margin-right: 5px;
}

.column {
  margin-right: 5px;
}

.column:last-child {
  margin-right: 0px;
}

.row {
  flex: 1 1 auto;
  height: 100%;
}

.column {
  flex: 1 1 auto;
  width: 50%;
  height: 100%;
}

.a {
  background: red;
}

.b {
  background: blue;
}

.c {
  background: orange;
}

.d {
  background: yellow;
}

.e {
  background: green;
}

.f {
  background: brown;
}

.g {
  background: pink;
}

.h {
  background: grey;
}
