*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Dark Mode */
    --darkBG: #111111;
    /* Light Mode */
    --lightBG: #999999;
    --limeGreen: #69b00b;
    --rose: #b00b69;
    --blueGrey: #00334d;
    --black: #000000;
    --white: #fff;
}

body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    background-color: var(--white);
    line-height: 1.4;
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: column;

    margin: 0px 10%;
}

h1 {
    text-align: center;
    margin-top: 20px;

    font-size: 3.0rem;
    color: var(--limeGreen);
    line-height: 2.0;
}

h4 {
    font-size: 1.0rem;
    color: var(--blueGrey);
    line-height: 1.5;
}

p {
    font-size: 1.5rem;
    color: var(--rose);
    line-height: 1.5;
}

textarea {
    align-self: center;

    margin-top: 20px;
    width: 40%;
}

button {
    align-self: center;

    margin-top: 20px;
    padding: 15px;
    width: 10%;
}

div {
    align-self: center;

    margin-top: 20px;
}

img {
    max-width: 100%;
}










/* Set these 8 color palette choices as hidden until selected, for example: */
/* dustySunsetEl.classList.add("hide"); */
/* dustySunsetEl.classList.remove("hide"); */
/* Jesse suggested: */
/* Function (border/accent/background) - Class (Legacy of Fire etc) */

/* Color palette sourced from: https://www.color-hex.com/color-palette/110273 - Dusty Sunset Pride Color Palette */
.dusty-sunset {
    --darkOrange: #e5834d;
    --lightOrange: #eca265;
    --cream: #fff4e7;
    --palePink: #ea8ea1;
    --peachPink: #d6646f;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110961 - Weirdos Color Palette */
.weirdos {
    --mauve: #ac6ab9;
    --limeGreen: #69b00b;
    --rose: #b00b69;
    --darkGrey: #696969;
    --moreMauve: #696969;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110962 - Summer Harmony Color Palette */
.summer-harmony {
    --blueGrey: #00334d;
    --tequilaSunrise: #d82929;
    --orange: #fb8100;
    --custard: #ffc14a;
    --lemonade: #ece4c0;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110932 - Deep Sea Baby Color Palette */
.deep-sea-baby {
    --mint: #77d9d9;
    --paleTeal: #77c5d9;
    --midTeal: #77b2d9;
    --palePurple: #779ed9;
    --purple: #778bd9;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110982 - Legacy of Fire Color Palette */
.legacy-of-fire {
    --eggwhite: #f8e6bd;
    --mustard: #ffcf00;
    --darkPeach: #f37852;
    --fire: #f93900;
    --chocolate: #5c2604;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110965 - Lost River Color Palette */
.lost-river {
    --brunswickGreen: #133412;
    --paleMushroom: #dac1c3;
    --mossGreen: #497529;
    --grassGreen: #5f9422;
    --greyGreen: #7d8078;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/111040 - Othello Costumes Color Palette */
.othello-costumes {
    --oldBlue: #328bc1;
    --brickRed: #c74e4e;
    --pineapple: #ffdb6c;
    --avocado: #7cd47d;
    --swissMushroom: #9c6464;
}

/* Color palette sourced from: https://www.color-hex.com/color-palette/110677 - Hubitat Dashboards Color Palette */
.hubitat {
    --paleGrey: #f5f5f5;
    --primaryBlue: #0000ff;
    --primaryRed: #ff0000;
    --classicGreen: #077909;
    --primaryYellow: #e6e600;
}