.layout {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
}

.history-columns {
  margin-bottom: 5px;
  margin-right: 5px;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #000000;
}

p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.5;
  margin: 0 50px;
  text-align: center;
}

.history-image {
  flex: 0 1 100px;
  border: 5px solid black;
}

.flex-container.columns {
  flex-direction: column;
}

.flex-container.rows {
  flex-direction: row;
}

.row,
.column {
  margin-bottom: 5px;
  margin-right: 5px;
}

.column {
  margin-right: 5px;
}

.column:last-child {
  margin-right: 0px;
}

.row {
  flex: 1 1 auto;
  height: 100%;
}

.column {
  flex: 1 1 auto;
  width: 50%;
  height: 100%;
}

.b {
  background: blue;
}

.c {
  background: orange;
}

.g {
  background: pink;
}

.h {
  background: grey;
}

img {
  max-width: 95%;
  max-height: 95%;
  object-fit: scale-down;
  overflow: scroll;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

body {
  height: 1360px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

div {
  border-radius: 50px;
}